#grid {
    font-family:"Trebuchet MS";
    overflow:auto;
    height:100%;
}
/*Column names*/ 
.field-layerName {
    width:125px;
}
.field-contactName {
    width:125px;

}
.field-phone {
    width:125px;

}
.field-email {
    width:125px;

}
.field-agency {
    width:125px;

}
.field-description{
    width:250px;
}
/*.dgrid-column {
    width: 100px;
    position:absolute;
}*/
.dgrid-row {
    cursor: pointer;
}
.dgrid-row-odd {
    background-color: #acacac;
}
.dgrid {
    height:inherit;
}